POSTGRES_USER=username
POSTGRES_PASSWORD=strongpassword
POSTGRES_DB=dbname

SESSION_AUTH_KEY=strongpassword
SESSION_ENCRYPTION_KEY=strongpassword

GRAFANA_PASSWORD=strongpassword

ELASTIC_VERSION=8.12.2
ELASTIC_PASSWORD=strongpassword

KIBANA_SYSTEM_PASSWORD=strongpassword